In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

df = pd.read_csv(r"C:\Users\jonat\Documents\GitHub\Dashboard_web\data\vehicles.csv")

In [35]:
df

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

**price:** Valor pelo qual o veículo está sendo anunciado. Geralmente representa o preço em dólares ou na moeda local.

**model_year:** Ano de fabricação ou modelo do veículo. Por exemplo, “2011.0” indica que o veículo é do ano 2011.

**model:** Modelo e, em muitos casos, também a marca do veículo. Exemplo: “bmw x5” ou “ford f-150”.

**condition:** Estado ou condição do veículo. Os valores podem variar de “excellent” (excelente), “like new” (como novo), “good” (bom), “fair” (razoável) até “salvage” (acidentado ou com problemas).

**cylinders:** Número de cilindros do motor do veículo. Esse número pode dar uma ideia da potência e do tipo de motor.

**fuel:** Tipo de combustível utilizado pelo veículo, como “gas” (gasolina) ou outros combustíveis que possam aparecer (diesel, elétrico, etc).

**odometer:** Quilometragem ou milhagem do veículo. Esse valor indica quantos quilômetros ou milhas o veículo percorreu.

**transmission:** Tipo de transmissão do veículo. Por exemplo, “automatic” (automático) ou “manual”.

**type:** Tipo de veículo, como “SUV”, “sedan”, “pickup”, entre outros. Essa coluna ajuda a identificar a categoria ou formato do veículo.

**paint_color:** Cor da pintura do veículo. Pode conter valores como “black”, “white”, “red”, etc. Em alguns casos, pode estar ausente (NaN).

**is_4wd:** Indicador de se o veículo possui tração nas quatro rodas (four-wheel drive). Normalmente, valores como 1 podem indicar que possui, enquanto NaN ou 0 indicam o contrário.

**date_posted:** Data em que o anúncio foi publicado. Por exemplo, “2018-06-23” indica que o veículo foi anunciado nesta data.

**days_listed:** Número de dias que o anúncio ficou ativo. Essa informação pode ajudar a entender quanto tempo o veículo permaneceu no mercado.

In [ ]:
# Seleciona automaticamente as colunas numéricas do DataFrame
num_columns = ['price', 'model_year', 'odometer', 'days_listed']

def update_histograma(coluna):
    plt.figure(figsize=(8, 5))
    # Remove valores ausentes para evitar problemas no dftograma
    dados = df[coluna].dropna()
    plt.hist(dados, bins=100, edgecolor='black')
    plt.xlabel(coluna)
    plt.ylabel('Frequência')
    plt.title(f'dftograma da coluna "{coluna}"')
    plt.show()

# Cria um Dropdown com as colunas numéricas
dropdown = widgets.Dropdown(
    options=num_columns,
    value=num_columns[0],
    description='Coluna:'
)

# Cria o widget interativo
widgets.interact(update_histograma, coluna=dropdown)

interactive(children=(Dropdown(description='Coluna:', options=('price', 'model_year', 'odometer', 'days_listed…

In [42]:
df.columns = ['price', 'year', 'model', 'condition', 'cylinders', 'fuel', 
              'odometer', 'transmission', 'body', 'color', 'extra', 'date', 'days']

# Converte as colunas numéricas para o tipo adequado
numeric_cols = ['price', 'year', 'cylinders', 'odometer', 'extra', 'days']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Obtém as colunas numéricas do DataFrame
num_columns = df.select_dtypes(include=[np.number]).columns.tolist()

# Função que atualiza o scatter plot para as colunas selecionadas
def update_scatter(x_col, y_col):
    plt.figure(figsize=(8, 5))
    # Filtra os dados removendo as linhas que possuem valores ausentes nas colunas selecionadas
    data = df.dropna(subset=[x_col, y_col])
    plt.scatter(data[x_col], data[y_col], alpha=0.7)
    plt.xlabel(x_col)
    plt.ylabel(y_col)
    plt.title(f'Scatter Plot: {x_col} vs {y_col}')
    plt.grid(True)
    plt.show()

# Cria dois Dropdowns para escolher as colunas dos eixos X e Y
dropdown_x = widgets.Dropdown(
    options=num_columns,
    value=num_columns[0],
    description='Eixo X:'
)

dropdown_y = widgets.Dropdown(
    options=num_columns,
    value=num_columns[1] if len(num_columns) > 1 else num_columns[0],
    description='Eixo Y:'
)

# Cria o widget interativo para o scatter plot
widgets.interact(update_scatter, x_col=dropdown_x, y_col=dropdown_y)

interactive(children=(Dropdown(description='Eixo X:', options=('price', 'year', 'cylinders', 'odometer', 'extr…